html {
    background-color: white;
    text-align: center;
    color: black;

    min-width: 800px;
    min-height: 100px;
}

body {
    margin: 0;
    font-family: "Microsoft YaHei", Arial, sans-serif;
}

body:lang(zh) {
    font-family: "Microsoft YaHei", sans-serif;
}

@font-face {
    font-family: 'Fira Code';
    src: url('assets/fonts/FiraCode-Regular.woff2') format('woff2'),
        url('assets/fonts/FiraCode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('assets/fonts/FiraCode-Bold.woff2') format('woff2'),
        url('assets/fonts/FiraCode-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}